.cuerpo{
   background-color: gray;
}
.navegador{
    background-color: honeydew;
}
.lista{
    list-style-type: none;
    text-align: center;
}
li{
    display: inline;
    text-align: center;
    margin: 0 0 10px 0;
    
}
a{
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 
}